body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:348px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:250px;
  width:400px;
  height:300px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; 
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
  background-color:transparent;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:665px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:160px;
  width:842px;
  height:665px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:838px;
  word-wrap:break-word;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:1300px;
  height:50px;
}
#u3_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:50px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:50px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:321px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:50px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:325px;
  height:50px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:321px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:50px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:325px;
  height:50px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:321px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:50px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:0px;
  width:325px;
  height:50px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:321px;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:50px;
  width:325px;
  height:36px;
  visibility:hidden;
}
#u9_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:36px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:36px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:36px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:321px;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:50px;
  width:326px;
  height:30px;
  visibility:hidden;
}
#u12_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:30px;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:30px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:30px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:322px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:830px;
  width:1193px;
  height:30px;
  text-align:center;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:1300px;
  height:50px;
}
#u16_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:50px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:50px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:235px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:50px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:0px;
  width:281px;
  height:50px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:277px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:260px;
  height:50px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:0px;
  width:260px;
  height:50px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:0px;
  width:260px;
  height:50px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:50px;
  width:260px;
  height:36px;
  visibility:hidden;
}
#u23_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:50px;
  width:260px;
  height:30px;
  visibility:hidden;
}
#u26_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
