body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
  background-color:transparent;
  font-family:'Bahnschrift Bold', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:240px;
  width:351px;
  height:31px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:31px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:287px;
  width:351px;
  height:31px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:31px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:336px;
  width:351px;
  height:31px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:31px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:224px;
  width:42px;
  height:16px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:270px;
  width:95px;
  height:16px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:318px;
  width:53px;
  height:16px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:377px;
  width:63px;
  height:16px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:393px;
  width:351px;
  height:174px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:174px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:343px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:262px;
  width:611px;
  height:343px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:164px;
  width:607px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:830px;
  width:1193px;
  height:30px;
  text-align:center;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:1300px;
  height:50px;
}
#u45_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:50px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:50px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:235px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:50px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:0px;
  width:281px;
  height:50px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:277px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:260px;
  height:50px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:0px;
  width:260px;
  height:50px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:0px;
  width:260px;
  height:50px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:50px;
  width:260px;
  height:36px;
  visibility:hidden;
}
#u52_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:50px;
  width:260px;
  height:30px;
  visibility:hidden;
}
#u55_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:589px;
  width:140px;
  height:40px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
